<div>
    <div id="like-section-{{ post.id }}" class="flex items-center space-x-1 hover:text-blue-400">
        {% if user.is_authenticated and user != post.author %}
        {% if user in post.likes.all %}
        <a hx-get="{% url 'like-post' post.id %}" class="flex items-center space-x-1         hover:text-blue-400    cursor-pointer "
            hx-target="closest div"
            hx-swap="outerHTML">
            ❤️ Liked
            {% else %}
            <a hx-get="{% url 'like-post' post.id %}" class="flex items-center space-x-1 hover:text-blue-400 cursor-pointer "
            hx-target="closest div"
            hx-swap="outerHTML">
            🤍 like
            {% endif %}
        </a>
        {% endif %}
        <span> {{ post.likes.count }} </span>
    </div>
</div>