{% include 'base.html' %}
{% load static %}

{% block content %}
<div class="bg-gray-900 text-white min-h-screen p-6">
    {% include 'partials/message.html' %}
    <!-- Dashboard Header -->
    {% include 'partials/dashtemp.html' %}
  
    <!-- Toggle Buttons -->
    <div class="flex justify-center space-x-4 mb-2">
      <button class="px-4 py-2 bg-blue-600 rounded-lg" >Posts</button>
      {% if user != request.user %}
      <a href="{% url 'review_page' username=reviewed_user.username %}" class="px-4 py-2 bg-gray-600 rounded-lg">Write Reviews</a>
      {% else %}
          <a href="{% url 'review_page' user.username %}" class="px-4 py-2 bg-gray-600 rounded-lg">Check Your Reviews</a>
      {% endif %}
    </div>
  
    <div id="posts"
    class="{% if posts|length == 1 %}flex justify-center{% else %}grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 gap-4{% endif %} p-4 ">
 {% for post in posts %}
   <div class="bg-white rounded-lg overflow-hidden shadow-md w-full max-w-sm">
     {% if post.image %}
       <img src="{{ post.image.url }}"
            alt="Post Image"
            class="w-full h-64 object-cover" />
     {% endif %}

     <!-- Title / Description with nice background -->
     <div class="p-3 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">
       <a href="{% url 'single_post' post.id %}"><p class="text-sm text-white font-semibold line-clamp-3">{{ post.description }}</p>Read more</a>
     </div>

     <!-- Icons (Like, Chat, Edit, Delete) -->
     <div class="flex justify-between items-center text-gray-600 px-3 py-2">
       <div class="flex space-x-2">
        <i class="ph ph-heart">❤ {{ post.likes.count }}</i>
        <a href="{% url 'single_post' post.id %}"><i class="ph ph-chat">💬 {{ post.comments.count }}</i></a>
       </div>

       {% if user.is_authenticated and request.user == post.author %}
        <div class="flex space-x-2">
          <i class="ph ph-pencil">🖍</i>
          <i class="ph ph-trash">🗑</i>
        </div>

        {% endif %}
       
     </div>
   </div>
 {% endfor %}
</div>


      
      
</div>
{% endblock %}