{% include 'base.html' %}

{% block content %}
<div class="bg-gray-900 text-white p-6 flex flex-col items-center min-h-screen">
    <h1 class="text-xl font-bold mb-4 flex items-center">Set a new password</h1>
    <form method="post" class="max-w-md w-full bg-gray-800 p-6 rounded-lg shadow-lg">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="bg-blue-500 px-4 py-2 rounded-lg hover:bg-blue-600 text-white font-semibold w-full mt-3">Change my password</button>
    </form>
</div>
{% endblock %}